### DataFrame-replace() function

Pandas dataframe.replace() function is used to replace a string, regex, list, dictionary, series, number etc. from a dataframe. This is a very rich function as it has many variations.

The most powerful thing about this function is that it can work with Python regex (regular expressions).

Syntax: DataFrame.replace(to_replace=None, value=None, inplace=False, limit=None, regex=False, method=’pad’, axis=None)

Parameters:
    
to_replace : [str, regex, list, dict, Series, numeric, or None] pattern that we are trying to replace in dataframe.
    
value : Value to use to fill holes (e.g. 0), alternately a dict of values specifying which value to use for each column (columns not in the dict will not be filled). 
        Regular expressions, strings and lists or dicts of such objects are also allowed.
        
inplace : If True, in place. Note: this will modify any other views on this object (e.g. a column from a DataFrame).
        Returns the caller if this is True.
        
limit : Maximum size gap to forward or backward fill
    
regex : Whether to interpret to_replace and/or value as regular expressions.
        If this is True then to_replace must be a string. Otherwise, to_replace must be None because this parameter will be interpreted as a regular expression or a list, dict, or array of regular expressions.
        
method : Method to use when for replacement, when to_replace is a list.

Returns: filled : NDFrame

#### Examples

##### Scalar to_replace and value

In [3]:
import numpy as np
import pandas as pd

s = pd.Series([0, 2, 3, 4, 5])
s.replace(0, 6)

0    6
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
df = pd.DataFrame({'P': [0, 2, 3, 4, 5],
                   'Q': [6, 7, 8, 9, 10],
                   'R': ['p', 'q', 'r', 's', 't']})
df.replace(0, 6)

   P   Q  R
0  6   6  p
1  2   7  q
2  3   8  r
3  4   9  s
4  5  10  t

#####  List-like to_replace

In [5]:
df.replace([0, 2, 3, 4], 5)

   P   Q  R
0  5   6  p
1  5   7  q
2  5   8  r
3  5   9  s
4  5  10  t

In [6]:
df.replace([0, 2, 3, 4], [5, 4, 3, 2])

   P   Q  R
0  5   6  p
1  4   7  q
2  3   8  r
3  2   9  s
4  5  10  t

#####  dict-like to_replace

In [7]:
df.replace({0: 20, 2: 200})

     P   Q  R
0   20   6  p
1  200   7  q
2    3   8  r
3    4   9  s
4    5  10  t

In [8]:
df.replace({'P': 0, 'Q': 6}, 100)

     P    Q  R
0  100  100  p
1    2    7  q
2    3    8  r
3    4    9  s
4    5   10  t

##### Regular expression to_replace

In [9]:
df = pd.DataFrame({'P': ['bar', 'ffa', 'bfg'],
                   'Q': ['mno', 'bat', 'xyz']})
df.replace(to_replace=r'^ba.$', value='new', regex=True)

     P    Q
0  new  mno
1  ffa  new
2  bfg  xyz

In [10]:
df.replace({'P': r'^ba.$'}, {'P': 'new'}, regex=True)

     P    Q
0  new  mno
1  ffa  bat
2  bfg  xyz