# Some other inbuilt methods in python

#Task 3) go through some of the other in built methods like        remove(),count(),clear(),sort(),reverse() in python

A)   remove()

In [1]:
# remove() :- This function is used to delete the first occurrence of number mentioned in its arguments.
list=[2, 1, 3, 5, 3, 8,3] 
list

[2, 1, 3, 5, 3, 8, 3]

In [2]:
# using remove() to remove first occurrence of 3 
# removes 3 at pos 2 
        
list.remove(3)
list

[2, 1, 5, 3, 8, 3]

B) count()

In [ ]:
#The count() method returns the number of times a specified value appears in the string.

#Syntax

# string.count(value, start, end)

# Parameter Values                   Parameter-Description

# value                              Required. A String. The string to value to search for

# start 	                         Optional. An Integer. The position to start the search. Default is 0

# end 	                             Optional. An Integer. The position to end the search. Default is the end of the string

In [3]:
#Example

#Search from position 10 to 24:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

1

C) clear()

In [4]:
#clear() :- This function is used to erase all the elements of list. After this operation, list becomes empty.

In [5]:
# initializing list1 

list1 = [2, 1, 3, 5, 3, 8,3] 

list1

[2, 1, 3, 5, 3, 8, 3]

In [6]:
# using clear() to delete all list1 contents 

list1.clear() 

list1

[]

D) sort()

In [7]:
#sort() :- This function sorts the list in increasing order.

In [10]:
#Example

ListA = [15, 22.4, 8, 10, 3.14]
ListA

[15, 22.4, 8, 10, 3.14]

In [11]:
ListA.sort()
ListA

[3.14, 8, 10, 15, 22.4]

In [12]:
#If you want to sort in a descending order,
#all you have to do is add the parameter reverse = True to the sort function.

In [13]:
#Here is another example to show how you can use the sort method in a descending manner.

ListB = [15, 22.4, 8, 10, 3.14]
ListB

[15, 22.4, 8, 10, 3.14]

In [14]:
ListB.sort(reverse = True)
ListB

[22.4, 15, 10, 8, 3.14]

E) reverse()

In [15]:
#reverse() :- This function reverses the elements of list

In [16]:
#Example

# initializing list  
lis = [2, 1, 3, 5, 3, 8] 
lis

[2, 1, 3, 5, 3, 8]

In [17]:
lis.reverse() 
lis

[8, 3, 5, 3, 1, 2]