# Dictionaries

In [1]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [3]:
dict1["april_batch"]["student"]["name"]

'Mike'

In [4]:
dict1["april_batch"]["student"]["marks"]["python"]

80

In [7]:
dict1["april_batch"]["student"]["name"] = 'Prashant'
dict1["april_batch"]["student"]["name"]

'Prashant'

In [8]:
dict1["april_batch"]["student"]["marks"]["ML"] = 80
dict1["april_batch"]["student"]["marks"]["DL"] = 80
dict1["april_batch"]["student"]["marks"]

{'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}

In [9]:
dict1

{'april_batch': {'student': {'name': 'Prashant',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}